nav {
  background: #ffffff;
  padding: 1rem 2rem;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #50aebb;
}

.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.nav-links a {
  text-decoration: none;
  color: #242424;
}

header {
  background: #3d44ad9d;
  padding: 10vh 2rem;
  text-align: center;
}

.container {
  padding: 2rem;
}

.grid {
  display: grid;
  grid-template-columns: 50% 50%;
  gap: 1.5rem;
}

.card {
  border: 1px solid #8005a5;
  padding: 1.5rem;
}

footer {
  text-align: center;
  padding: 2rem;
  background: #333;
  color: white;
  margin-top: 2rem;
}